.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;

    z-index: 100;
}
.left-section{
    /* width:150px; */
    /* background-color: lightblue; */
    display:flex;
    align-items: center;
}
.middle-section{
    margin-left: 70px;
    margin-right: 35px;
    max-width: 650px;
    flex:1;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}
.right-section{
    /* background-color: lightblue; */
    margin-right: 30px;
    width:195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.youtube-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.youtube-logo{
    height: 115px;
    cursor: pointer;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;

    
}
.search-button, 
.voice-search-button,
.upload-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-button .tooltip, 
.voice-search-button .tooltip,
.upload-container .tooltip{
    font-family: Arial;
    position:absolute;
    background-color: rgb(57, 56, 56);
    color: white;
    padding: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    /* opacity: .8; */
    /* visibility: hidden; */
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.upload-container .tooltip{
    bottom: -50px;
}

.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.upload-container:hover .tooltip{
    opacity: .9;
    /* visibility: visible; */
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
}
.search-bar{
    flex:1;
    height: 36px;
    width: 0;
    padding-left:10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05)
}
.search-bar::placeholder{
    font-family: Arial;
    font-size: 16px;
    color: grey;
}
.search-bar:focus{
    border-width: 1px;
    border-color: rgb(70, 70, 140);
    border-right-width:2px;
    outline: none;
}
.search-icon{
    height: 18px;
}
.voice-search-icon{
    height: 18px;
    margin-top: 4px;
}
.upload-icon{
    height: 18px;
}
.grid-icon{
    height: 18px;
}
.bell-icon{
    height: 18px;
}
.account-icon{
    height: 32px;
    cursor: pointer;
}

